<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jgkj.parentscycle"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:name="com.jgkj.parentscycle.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".activity.SetPasswordActivity"
            android:label="@string/app_name"
            >

        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            >

        </activity>

        <activity
            android:name=".activity.FindPasswordActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.AccountInfoActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.BabyDocumentActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.BabyShowActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.PublishCourseActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.DynamicContentActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ParentsCycleActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.SchoolDetailActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.PerfectInformationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>

        <activity
            android:name=".activity.CheckAttendanceActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.SchoolInfoActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.AccountSafeActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.AccountSafeResetPassActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.AccountSafeResetPhoneActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.MakeClassActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.MakeClassAddPersonActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.TeacherInfoActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.MangementClassActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.CircleMenuActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent"
            >
        </activity>

        <activity
            android:name=".activity.PublishFoodListActivity"
            android:label="@string/app_name"
            >
        </activity>


        <activity
            android:name=".activity.PublishAnnouncementActivity"
            android:label="@string/app_name"
            >
        </activity>


        <activity
            android:name=".activity.VideoOpenCourseActivity"
            android:label="@string/app_name"
            >
        </activity>


        <activity
            android:name=".activity.OnineForumActivity"
            android:label="@string/app_name"
            >
        </activity>


        <activity
            android:name=".activity.GrowthRecordActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ManageTeachersListActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ParentsCyclePersonalPageActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ModifyAttendanceActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.BabyInfoActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.PublishParentsCycleActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.PublishGrowthRecordActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ShowFoodListActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.ShowCourseListActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/app_name"
            >
        </activity>




















        <activity
            android:name=".activity.TestNetActivity"
            android:label="@string/app_name"
            >
        </activity>




    </application>

</manifest>
